extends layout

block content
  h1= title
  p Welcome to #{title}
  :markdown-it
    # header 1

    paragraph.

    ```
    this is a
    source code
    cd
    ls
    ```

    ## header 2

    * item 1
    * item 2
        * item 2-1
        * item 2-2

  include:markdown-it index.md
